
.DS_Store
boston_2016.csv
boston_2016_distance_duration_speed.csv
boston_2016_distance_speed-checkpoint.csv
.ipynb_checkpoints/all_station_id_amounts_distance-checkpoint.csv
.ipynb_checkpoints/boston_2016_distance_duration_speed-checkpoint.csv
.ipynb_checkpoints/boston_2016_prep_cluster-checkpoint.csv
.ipynb_checkpoints/new_boston_2016_prep_cluster-checkpoint.csv
Backup/.ipynb_checkpoints/boston_2016_distance_duration_speed-checkpoint.csv
boston_2016_prep_cluster.csv
.ipynb_checkpoints/all_station_id_amounts_distance-checkpoint.csv
.ipynb_checkpoints/boston_2016_distance_duration_speed-checkpoint.csv
.ipynb_checkpoints/boston_2016_prep_cluster-checkpoint.csv
.ipynb_checkpoints/new_boston_2016_prep_cluster-checkpoint.csv
Backup/.ipynb_checkpoints/boston_2016_distance_duration_speed-checkpoint.csv
boston_2016_prep_cluster.csv
new_boston_2016_prep_cluster.csv
